<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.beamer.media-server</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/yushrajkapoor/.Beamer/bin/beamer-darwin-amd64</string>
        <string>--config</string>
        <string>/Users/yushrajkapoor/.Beamer/beamer.yaml</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/yushrajkapoor/.Beamer</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/yushrajkapoor/.Beamer/data/beamer.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/yushrajkapoor/.Beamer/data/beamer.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/yushrajkapoor</string>
    </dict>
</dict>
</plist>
